 [color]
    branch = auto
    diff = auto
    status = auto
  [color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
  [color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
  [color "status"]
    added = yellow
    changed = green
    untracked = cyan
 
[user]
	email = antoine@lunar-ocean.com
	name = Antoine Toulme
 
 [alias]
         ci = commit
         co = checkout
         st = status
# show difference between the HEAD and the index
         staged = diff --cached
# show difference between working tree and the index
         unstaged = diff
# show staged and unstaged changes (what would be committed with "git commit -a")
         both = diff HEAD
         dh = diff HEAD
# quick access to oneline log format
         oneline = log --pretty=oneline
	     logui = log --all --graph --decorate --pretty='format:%C(yellow)%h%d %Cblue[%an]%Creset %s'
# unpushed commits
         unpushed = log origin/master...HEAD         
 
#  mya = !git apply --whitespace=fix $1 && git status
# myci = !grep 'Subject:' $1 | sed -e 's/Subject: \[PATCH\] \(.*\)/\1/' | git commit -a --file=-
[diff]
#	external = /Users/antoine/opendiff-git.sh
[core]
	autocrlf = input
	excludesfile = /Users/lb/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
